<% layout('layouts/boilerplate') %>
<div class="row justify-content-center">
    <div class="col-md-8 justify-content-center">
        <h2 class="card-title"><%= song.title %></h2>
        
            <video width="auto" height="600" controls preload="auto">
                <source src="<%= song.image %>">
            </video>
            <p class="card-text fs-5 fw-bold"><%= song.description %></p>
            <p class="card-text fs-6">submitted by <%= song.author.username %></p>
            <% if ( currentUser && song.author.equals(currentUser._id)) { %>
             <div class="card-body">
                <a class="card-link btn btn-info" href="/songs/<%=song._id %>/edit" >Edit</a>
                <form class="d-inline" action="/songs/<%= song._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <% } %>

            <!-- <div class="card-footer text-muted bg-transparent">
                <a href="/songs">List</a>
            </div> -->
    </div>
</div>